#main {
    text-align: left;
}
form {
    margin-top: 15%;
}
.felement {
    margin: 10px 0 10px 0;
}

.valign{
    vertical-align: central;
}

table {
    background-color: #74AFAD;
    border-radius: 5%;
    color:#ffffff;
    font-weight: bold;
    font-size: 20px;
}
textarea {
    background-color: #c7dfde;
    font-family: "Josefin Sans";
    color:    #000000;
    font-size: 16px;
    resize: none;
    border: 0;
    box-sizing: border-box;
    padding: 5px;
    line-height: 24px;
}
td {
    padding: 10px 100px 10px 10px;

}
option {
    border: 0;
    font-family:"Josefin Sans";
    background-color: #c7dfde;
}
#dropdown {
    width:266px;
    border: 0;
    font-family: "Josefin Sans";
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    border-radius: 0;
    background: url(http://fourloops.github.io/FourLoopsBlog/assets/arrow.png) no-repeat #c7dfde;
    background-position: right 10px center;
}
select {
    height: 40px;
    padding: 5px;
}
::-webkit-input-placeholder {
    font-family: "Josefin Sans";
    color:    #000000;
    font-size:16px;
    line-height: 24px;
}
::-moz-placeholder {
    font-family: "Josefin Sans";
    color:    #000000;
    font-size:16px;
    line-height: 24px;
}
::-o-placeholder {
    font-family: "Josefin Sans";
    color:    #000000;
    font-size:16px;
    line-height: 24px;
}
::-ms-placeholder {
    font-family: "Josefin Sans";
    color:    #000000;
    font-size:16px;
    line-height: 24px;
}
button {
    font-size:20px;
    padding: 5px 20px 5px 20px;
    background-color: #c7dfde;
    border-radius: 10%;
}
