html,body{
  margin:0;
  padding:0;
}

.grid-container {
    width: 100%;
    max-width: 1200px;
}

.grid-container *{
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 25%;
    padding: 20px;

}

h1 {
  max-width:  50%;
}

.col-1 {
    width: 25%;
}
.col-2 {
    width: 50%;
}
.col-3 {
    width: 75%;
}
.col-4 {
    width: 100%;
}


[class*='col-'] > p {
    background-color: red;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    border-radius: 15px;
    min-height: 150px;
    border: 2px solid black;
}
nav{
  box-sizing: border-box;
  width:100%;
  position:fixed;
  top:0;
  margin: 0;
  height:10%;
  background-color: #74AFAD;
  border-radius:0 0 2% 2%;
  font-family: "Josefin Sans";
  z-index:2;
}
nav ul a{
  text-decoration:none;
  font-size:40px;
  color:white;
}

ul{
  list-style-type: none;
  box-sizing: border-box;
  padding-top: 5%;
}
nav ul li{
  display:inline;
  box-sizing: border-box;
  padding: 20px 2.5% 10px 2.5%;
}
#main{
  margin-top: 20%;
  text-align:center;
}


[class*='pic-'] {
    display: block;
    margin: auto;

}
.pic-left1 {
    width: 300px;
    height: 300px;
    float: right;
    background: url(assets/panda.jpg) no-repeat;
}

.pic-right2 {
    width: 300px;
    height: 300px;
    float: left;
    background: url(assets/panda.jpg) no-repeat;
}

.pic-left3 {
    width: 300px;
    height: 300px;
    float: right;
    background: url(assets/panda.jpg) no-repeat;
}

.pic-right4 {
    width: 300px;
    height: 300px;
    float: left;
    background: url(assets/panda.jpg) no-repeat;
}

.text {
    opacity: 0;
    background: #FFF;
    width: 300px;
    height: 300px;
}

[class*='pic-']:hover .text {
    opacity: 0.7;
    text-align: justify;
    color: #000000;
    font-size:70px;
    font-weight: 700;
    font-family: sans-serif;
}

.names {
    position:relative;
    left: 80px;
    top: 80px;
}
